.bagel-card {
  margin: 20px; //just to separate temporarily. Remove later
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
  width: fit-content;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgb(227, 227, 227);
  transition: 0.2s border ease-in;
}

.bagel-card:hover {
  border: 1px solid rgb(199, 199, 199);
  transition: 0.2s border ease-out;
  background-color: hsl(60, 100%, 84%);
}

.bagel-image {
  height: 200px;
  padding: 6px;
  margin: 6px;
  background-color: white;
  box-shadow: inset 1px 1px 6px gray;
}

.bagel-text {
  max-width: 250px;
}

.bagel-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bagel-button {
  color: white;
}

.bagel-add-to-cart h5 {
  margin: 0;
}

span.highlight {
  background: #fff06b;
  padding: 2px 0px;
}

// Underline for optional styling
// span.underline {
// 	background-image: linear-gradient(180deg,#fff06b,#fff06b);
// 	background-repeat: no-repeat;
// 	background-position: 0px bottom;
// 	background-size: 100% 10px;
// 	font-weight: 700;
// 	cursor: pointer;
//   }
