// styling slightly modified from https://codepen.io/spbyrne/pen/qEBRZq

$color-main: #de2424;
$color-bright: lighten($color-main, 25%);
$color-shadow: darken($color-main, 25%);

.bagel-button-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.order-button {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  margin-top: 20px;
  margin-bottom: 40px;
  left: 50%;
  position: absolute;
  background: lighten($color-main, 10%);
  border-radius: 100px;
  box-shadow: inset -2px 2px 2px 0px rgba(red($color-bright), green($color-bright), blue($color-bright), 1),
    inset 2px -2px 2px 0px rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.3),
    inset 0px 0px 40px 15px
      rgba(red($color-main), green($color-main), blue($color-main), 1),
    1px 1px 0 0 darken($color-main, 3%), 2px 2px 0 0 darken($color-main, 6%),
    3px 3px 0 0 darken($color-main, 9%), 4px 4px 0 0 darken($color-main, 12%),
    5px 5px 0 0 darken($color-main, 15%), 6px 6px 0 0 darken($color-main, 18%),
    7px 7px 0 0 darken($color-main, 20%), 8px 8px 0 0 darken($color-main, 21%),
    9px 9px 0 0 darken($color-main, 22%), 10px 10px 0 0 darken($color-main, 23%),
    11px 11px 0 0 darken($color-main, 24%), 12px 12px 0 0 $color-shadow,
    13px 13px 0 0 $color-shadow, 14px 14px 0 0 $color-shadow,
    15px 15px 0 0 $color-shadow, 16px 16px 0 0 $color-shadow,
    17px 17px 0 0 $color-shadow, 18px 18px 0 0 $color-shadow,
    19px 19px 0 0 $color-shadow, 20px 20px 0 0 $color-shadow,
    19px 21px 1pc 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    18px 22px 1px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    17px 23px 1px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    16px 24px 1px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    15px 25px 1px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    14px 26px 2px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    13px 27px 3px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    12px 28px 4px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    11px 29px 5px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    10px 30px 6px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    9px 31px 7px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.1),
    20px 20px 4px 1px
      rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 1);
  transition: all 0.4s ease-out;
  cursor: pointer;
  &:active {
    transition: all 0.15s ease-out;
    margin-left: -31px;
    // margin-top: -31px;
    background: lighten($color-main, 15%);
    box-shadow: inset -2px 2px 2px 0px rgba(red($color-bright), green($color-bright), blue($color-bright), 1),
      inset 2px -2px 2px 0px rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.3),
      inset 0px 0px 40px 15px
        rgba(red($color-main), green($color-main), blue($color-main), 1),
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 0 0 $color-shadow, 1px 1px 0 0 $color-shadow,
      1px 1px 2px 1px
        rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 0.5),
      0px 0px 4px 1px
        rgba(red($color-shadow), green($color-shadow), blue($color-shadow), 1);
    + h1 {
      opacity: 1;
      transition: all 0.15s ease-out;
      transition-delay: 0.25s;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
