.position-bottom-of-page {
  position: absolute;
  bottom: 30px;
  animation-name: beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes beat {
  50% {
    transform: translateY(20px);
    opacity: 0.8;
  }
}
